tiles-carousel-responsive-item {
  position: relative; /* It had to be done. #DrStrange #YOLO */
}

iseentit {
  box-sizing: border-box;
}

iseentit.iseentit-container {
  position: absolute;
  top: 0;
  left: 0;
  outline: 1px solid red;
}

iseentit.iseentit-fab {
  color: red;
}
