tiles-carousel-responsive-item {
  position: relative; /* It had to be done. #DrStrange #YOLO */
}

iseentit {
  box-sizing: border-box;
  transition: 200ms;
}

iseentit.iseentit-container {
  position: absolute;
  top: 0;
  left: 0;
  outline: 1px solid red;
}

iseentit.iseentit-fab {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border: 2px solid hsl(20deg 60% 55%);
  border-radius: 100%;
  background-size: cover;
  box-shadow: 5px 5px 10px hsl(20deg 60% 20% / 80%);
  cursor: pointer;
}

iseentit.iseentit-fab:hover {
  box-shadow: 5px 5px 20px hsl(20deg 60% 20% / 100%);
  transform: rotate(15deg);
}
